<link rel="stylesheet" href="/inventory/static/css/styles.css">

{% for message in messages %}
    <p style="color: red;">{{ message }}</p>
{% endfor %}

<h1>Shop</h1>
    <a href="{% url 'item_list' %}">Add New Item</a>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity_in_stock }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <input type="number" name="quantity" min="1" max="{{ item.quantity_in_stock }}" required>
                    <button type="submit">Buy</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

